<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Библиотека</title>
  </head>
  <body>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class="container">
      <nav aria-label="Page navigation" class="ml-auto">
        <ul class="pagination mt-4">
          {% if current_page == 0 %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{ current_page - 1 }}.html">Назад</a></li>
          {% endif %}
          {% for page in range(pages_number) %}
            {% if page == current_page %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{ page }}.html">{{ page + 1 }}<span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{ page }}.html">{{ page + 1 }}</a></li>
            {% endif %}
          {% endfor %}
          {% if current_page == pages_number - 1 %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Вперёд</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{ current_page + 1 }}.html">Вперёд</a></li>
          {% endif %}
        </ul>
      </nav>
      {% for books in books_feateres %}
        <div class="row">
          {% for book in books %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{ book.image_src }}" class="card-img" alt="../{{ book.book_title }}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.book_title }}</h5>
                      <p class="card-text">{{ book.book_author }}</p>
                      <h6>
                        {% for genre in book.book_genres %}
                          <span class="badge badge-secondary">
                            {{ genre }}
                          </span>
                        {% endfor %}
                      </h6>
                      <a href="../{{ book.book_path }}" target="_blank" rel="noopener noreferrer">Читать</a>
                    </div>
                  </div>
                </div>
              </div>  
            </div>       
          {% endfor %}  
        </div>
      {% endfor %}
    </div>       
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>